$btn-primary-bg: #1064D6;
$text-primary: #1064D6;
$text-muted: #777777;
$bg-muted: #777777;
$bg-lightgray: #EAF2FD;

@import 'modules';
@import 'general-cards';
@import 'node_modules/bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;300;400;700;900&family=Roboto+Serif:wght@100;300;400;700;900&display=swap');

html {
    font-size: 16px;
}

.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.w-xxl-80 {
    width: 80% !important;
}

.rsans {
    font-family: 'Roboto', sans-serif;
}

.rserif {
    font-family: 'Roboto Serif', serif;
}

.rslab {
    font-family: 'Roboto Slab', serif;
}

#footer-left {
    font-size: 2em;
}

#footer-right {
    font-size: 1em;
}

.btn-primary {
    background-color: $btn-primary-bg;
}

.text-muted {
    color: $text-muted !important;
}

.bg-muted {
    background-color: $bg-muted !important;
}

.formfield-span {
    width: 50px;
    background-color: #EAF2FD;
}

.nav-item {
    transition: background-color 0.1s ease;
    &:hover {
        background-color: #E0E0E0;
    }
}

.section-header {
    border-bottom: 1px solid #E0E0E0;
}

.section-button {
    width: 25.00%;
}

.section-button-short {
    width: 25.00%;
}

.row-container {
    width: 90.00%;
    margin-left: auto;
    margin-right: auto;
}

.form-standard {
    width: 75.00%;
}

.form-container {
    width: 75.00%;
}

.col-left-alt {
    text-align: left;
}

.col-right-alt {
    text-align: right;
    justify-content: end;
}

.subject-row.dropdown-toggle::after {
    display: none;
}

.btn.subject-row {
    background: none;
    padding: 0 20px;
    border: none;
}

.toggle-view-btn {
    background-color: transparent !important;
}

.search-tab {
    width: 50.00%;
}

.toggle-view-btn:focus, 
.toggle-view-btn:active, 
.toggle-view-btn:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}

.toggle-view-btn i {
    color: $text-muted;
}

.toggle-view-btn.active i {
    color: $text-primary;
}

#user-profile,
#user-profile-topnav {
    transition: transform 0.2s ease, border 0.2s ease;
    border: 2px solid #AAAAAA;
}

#user-profile-topnav:hover {
    transform: scale(1.05);
    border: 2px solid $btn-primary-bg;
}

.pagination .page-item .page-link {
    color: $btn-primary-bg;
}

.pagination .page-item.active .page-link {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;
    color: white;
}

.nav-submenu {
    background-color: white;
    a {
        text-decoration: none;
        color: $text-muted;
    }
}

.clickable-wrapper label, label input {
    cursor: pointer;
}

#user-profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #AAAAAA;
}

.error-page-body {
    background-color: #EAF2FD;
}

.password-toggle {
    background: transparent;
    cursor: pointer;
    width: 3.0rem;
}

// add media for max-width: 1400px when needed

@media (max-width: 1200px) {
    #footer-left {
        font-size: 1.75em;
    }
    #footer-right {
        font-size: 0.95em;
    }
}

@media (max-width: 992px) {
    #topnav-logo {
        width: 100.00% !important;
    }
    #footer-left {
        font-size: 1.50em;
    }
    #footer-right {
        font-size: 0.85em;
    }
    .form-standard {
        width: 80.00%;
    }
    .section-button {
        width: 100.00%;
    }
    .section-button-short {
        width: 50.00%;
    }
    .search-tab {
        width: 100.00%;
    }
}

@media (max-width: 768px) {
    .user-profile-text {
        text-align: center;
    }
    .col-left-alt {
        text-align: center;
    }
    .col-right-alt {
        text-align: center;
        justify-content: center;
    }
    .w-sm-100 {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    #user-profile-picture {
        width: 150px;
        height: 150px;
    }
    #topnav-logo {
        width: 75.00% !important;
    }
    #footer-left {
        font-size: 1em;
    }
    #footer-right {
        font-size: 0.55em;
    }
    .section-button {
        width: 100.00%;
    }
    .row-container {
        width: 100.00%;
    }
    .form-standard {
        width: 90.00%;
    }
    .form-container {
        width: 90.00%;
    }
}
