$btn-primary-bg: #1064D6;

@import 'pages/features';
@import 'pages/welcome';
@import 'node_modules/bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;300;400;700;900&family=Roboto+Serif:wght@100;300;400;700;900&display=swap');

html {
    font-size: 16px;
}

// Some custom width utilities
.w-20 {
    width: 20%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}

.rsans {
    font-family: 'Roboto', sans-serif;
}

.rserif {
    font-family: 'Roboto Serif', serif;
}

.rslab {
    font-family: 'Roboto Slab', serif;
}

.btn-primary {
    background-color: $btn-primary-bg;
}

.formfield-span {
    width: 50px;
    background-color: #EAF2FD;
}

.nav-item {
    transition: background-color 0.1s ease;
}

.nav-item:hover {
    background-color: #E0E0E0;
}

.section-header {
    border-bottom: 1px solid #E0E0E0;
}

.tooltip-inner {
    font-family: 'Roboto Sans', sans-serif;
}

.subject-row.dropdown-toggle::after {
    display: none;
}

.btn.subject-row {
    background: none;
    padding: 0 20px;
    border: none;
}

#event-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#event-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// add media for max-width: 1400px, 1200px, 992px, 768px when needed

@media (max-width: 576px) {
    #topnav-logo {
        width: 100.00% !important;
    }
}
