$btn-primary-bg: #1064D6;

#list-item-standard,
#systemuser-list-item,
#card-standard,
#card-member,
#card-club-images,
#card-club-images-previewer {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#list-item-standard:hover,
#systemuser-list-item:hover,
#card-standard:hover,
#card-member:hover,
#card-club-images:hover,
#card-club-images-previewer:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#card-manage,
#list-item-manage {
    position: relative;
    overflow: hidden;
}

.card-manage-overlay,
.list-item-manage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#card-manage:hover .card-manage-overlay,
#list-item-manage:hover .list-item-manage-overlay {
    display: flex; /* Show buttons on hover */
    opacity: 1;
}

.card-manage-overlay .btn,
.list-item-manage-overlay .btn {
    z-index: 1;
    transition: transform 0.2s ease;
}

#card-manage:hover .btn
#list-item-manage:hover .btn {
    transform: scale(1.1);
}

.add-club-card,
.add-club-list-item,
.add-event-card,
.add-event-list-item,
.add-club-image-card,
.add-event-image-card {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

/* Hover background color effect */
.add-club-card:hover,
.add-club-list-item:hover,
.add-event-card:hover,
.add-event-list-item:hover,
.add-club-image-card:hover,
.add-event-image-card:hover {
    cursor: pointer;
    background-color: $btn-primary-bg; /* Darkened background */
    transform: scale(1.01);
}

/* Hover effects for the icon and text */
.add-club-card .card-body,
.add-club-list-item .card-body,
.add-event-card .card-body,
.add-event-list-item .card-body,
.add-club-image-card .card-body,
.add-event-image-card .card-body {
    transition: transform 0.2s ease, color 0.2s ease;
}

/* Hover scale and color change for icon and text */
.add-club-card:hover .card-body i,
.add-club-card:hover .card-body h5,
.add-club-list-item:hover .card-body i,
.add-club-list-item:hover .card-body h5,
.add-event-card:hover .card-body i,
.add-event-card:hover .card-body h5,
.add-event-list-item:hover .card-body i,
.add-event-list-item:hover .card-body h5,
.add-club-image-card:hover .card-body i,
.add-club-image-card:hover .card-body h5,
.add-event-image-card:hover .card-body i,
.add-event-image-card:hover .card-body h5 {
    transform: scale(1.1); /* Slight zoom-in effect */
    color: white; /* Change text color to white */
}
