.welcome-body {
    background-color: #EAF2FD;
    height: 100%;
    overflow: hidden;
}

.welcome-nav {
    text-align: end;
}

.welcome-title {
    font-size: 5rem;
}

.welcome-subtitle {
    font-size: 2.5rem;
}

.image-carousel {
    overflow: hidden;
    white-space: nowrap;
}

.carousel-track {
    display: flex;
    width: calc(200%);
    animation: welcome-scroll 90s linear infinite;
}

.carousel-track img {
    width: 16.66%;
    flex-shrink: 0;
    object-fit: cover;
}

@keyframes welcome-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

// add media for max-width: 1400px when needed

@media (max-width: 1200px) {
    .welcome-title {
        font-size: 4.0rem;
    }
    .welcome-subtitle {
        font-size: 2.25rem;
    }
    .carousel-track img {
        width: 50.00%;
    }
}

@media (max-width: 992px) {
    .welcome-title {
        font-size: 3.0rem;
    }
    .welcome-subtitle {
        font-size: 2.0rem;
    }
    .carousel-track img {
        width: 50.00%;
    }
}

@media (max-width: 768px) {
    .welcome-title {
        font-size: 2.5rem;
    }
    .welcome-subtitle {
        font-size: 1.5rem;
    }
    .carousel-track img {
        width: 50.00%;
    }
}

@media (max-width: 576px) {
    .welcome-website-logo {
        width: 50.00%;
    }
    .welcome-nav {
        text-align: center;
    }
    .carousel-track img {
        width: 75.00%;
    }
}
