.tooltip-inner {
    font-family: 'Roboto Sans', sans-serif;
}

#add-subject-button {
    width: 60.00%;
}

#initialiser-fill-form {
    width: 50%;
}

#subcard-col-left {
    text-align: start;
}

#subcard-col-right {
    text-align: end;
}

@media (max-width: 992px) {
    #add-subject-button {
        width: 50.00% !important;
        text-align: center;
    }
    #subcard-col-left,
    #subcard-col-right {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #initialiser-fill-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #add-subject-button {
        width: 60% !important;
    }
}