#club-filters-compact {
    display: none;
}

#card-club-images {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

#card-club-images-previewer {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.add-club-card {
    transition: background-color 0.2s ease, transform 0.2s ease;
    &:hover {
        cursor: pointer;
        background-color: $btn-primary-bg;
        transform: scale(1.01);
        .card-body {
            i, h5 {
                transform: scale(1.1);
                color: white;
                transition: transform 0.2s ease, color 0.2s ease;
            }
        }
    }
    .card-body {
        transition: transform 0.2s ease, color 0.2s ease;
    }
}

.add-club-list-item {
    transition: background-color 0.2s ease, transform 0.2s ease;
    &:hover {
        cursor: pointer;
        background-color: $btn-primary-bg;
        transform: scale(1.01);
        .card-body {
            i, h5 {
                transform: scale(1.1);
                color: white;
                transition: transform 0.2s ease, color 0.2s ease;
            }
        }
    }
    .card-body {
        transition: transform 0.2s ease, color 0.2s ease;
    }
}

.add-club-image-card {
    transition: background-color 0.2s ease, transform 0.2s ease;
    &:hover {
        cursor: pointer;
        background-color: $btn-primary-bg;
        transform: scale(1.01);
        .card-body {
            i, h5 {
                transform: scale(1.1);
                color: white;
                transition: transform 0.2s ease, color 0.2s ease;
            }
        }
    }
}

#club-card-standard {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

#club-card-manage {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease;
        .btn {
            z-index: 1;
            transition: transform 0.2s ease;
        }
        &:hover {
            display: flex;
            opacity: 1;
        }
    }
}

#club-list-item-standard {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

#club-list-item-manage {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease;
        .overlay-btn {
            z-index: 1;
            transition: transform 0.2s ease;
            width: 40.00%;
            a {
                width: 100.00%;
            }
        }
        &:hover {
            display: flex;
            opacity: 1;
        }
    }
}

#club-breadcrumb {
    display: flex;
}

#club-breadcrumb-alt {
    display: none;
}

#club-sort-standard {
    display: flex;
}

#club-view-toggle {
    display: flex;
}

#club-action-buttons {
    display: flex;
    justify-content: end;
}

#club-images-carousel {
    width: 30.00%;
    .carousel-item img {
        border-radius: 12px;
        aspect-ratio: 4/4;
        object-fit: cover;
        cursor: pointer;
    }
}

#club-images-list img {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

#btn-club-join,
#btn-club-leave {
    width: 20.00%;
}

#carousel-inner-lg {
    display: flex;
}

#carousel-inner-md,
#carousel-inner-sm {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 80px !important;
}

@media (max-width: 992px) {
    #club-sort-standard {
        display: none;
    }
    #club-sort-compact {
        display: flex;
    }
    #club-filters-compact {
        display: flex;
    }
    #club-filters-standard {
        display: none;
    }
    #club-breadcrumb {
        display: none;
    }
    #club-action-buttons {
        justify-content: center;
    }
    #club-breadcrumb-alt {
        display: flex;
    }
    #membership-type {
        #membership-type-label {
            display: none;
        }
        select {
            font-size: 0.90em;
        }
    }
    #club-images-carousel {
        width: 50.00%;
    }
    #btn-club-join,
    #btn-club-leave {
        width: 35.00%;
    }
    #btn-manage-club-compact {
        font-size: 0.90em;
    }
    #carousel-inner-md {
        display: flex;
    }
    #carousel-inner-lg,
    #carousel-inner-sm {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px !important;
    }
}

@media (max-width: 768px) {
    #carousel-inner-sm {
        display: flex;
    }
    #carousel-inner-lg,
    #carousel-inner-md {
        display: none;
    }
}

@media (max-width: 576px) {
    .add-club-list-item {
        .card-body {
            i {
                font-size: 2.10em;
            }
            h5 {
                font-size: 0.90em;
            }
        }
    }
    #club-card-standard .card-body h5 {
        font-size: 1.10em;
    }
    #club-card-manage .card-body h5 {
        font-size: 1.10em;
    }
    #club-list-item-manage:hover .overlay .overlay-btn {
        width: 35.00%;
    }
    #club-list-item-manage:hover .overlay .overlay-btn a {
        font-size: 0.80em;
    }
    #club-breadcrumb-alt {
        nav, p {
            font-size: 0.80em;
        }
        .section-button {
            width: 75.00% !important;
        }
    }
    #club-list-item-manage {
        .card-body {
            h5.card-title {
                span {
                    font-size: 0.80em;
                }
            }
            .card-text .row {
                .col-1 i,
                .col-10 {
                    font-size: 0.90em;
                }
            }
        }
    }
    #membership-type {
        select {
            font-size: 0.80em;
        }
    }
    #club-images-carousel {
        width: 75.00%;
    }
    #btn-club-join,
    #btn-club-leave {
        width: 75.00%;
    }
}
