.benefits {
    background-color: #FAFAFA;
}

.benefits-subtitle {
    color: #21549A;
}

.carousel-item .card {
    flex: 1;
    display: flex;
    flex-direction: column;

    .feature-card-circle {
        width: 150px;
        height: 150px;
        i {
            color: #3C3C3C;
            font-size: 3.5rem;
        }
    }
}

.features-body {
    background-color: #EAF2FD;
}

.features-illustration {
    width: 75.00%;
}


.features-nav {
    text-align: end;
}


.features-text {
    text-align: start;
}

#benefits-carousel-small {
    display: none;
}

#benefits-carousel-standard {
    display: block;
}

@media (max-width: 992px) {
    .carousel-item .card {
        p {
            font-size: 0.85em;
        }
        h4 {
            font-size: 1.25em;
        }
        .feature-card-circle {
            width: 100px;
            height: 100px;
            i {
                font-size: 3.0rem;
            }
        }
    }
    .features-illustration {
        width: 85.00%;
    }
}

@media (max-width: 768px) {
    .features-illustration {
        width: 85.00%;
    }
    .features-text {
        text-align: center;
    }
    #benefits-carousel-small {
        display: block;
    }
    #benefits-carousel-standard {
        display: none;
    }
}

@media (max-width: 576px) {
    .features-illustration {
        width: 65.00%;
    }
    .features-nav {
        text-align: center;
    }
    .features-text p.rserif.fs-4 {
        font-size: 1.25rem !important;
    }
    .features-website-logo {
        width: 50.00%;
    }
}
