.filled-slot {
    transition: background-color 0.2s ease, color 0.2s ease !important;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5) !important;
        color: black !important;
        cursor: pointer;
    }
}

.popover-body {
    font-family: 'Roboto Sans', sans-serif;
}

.timetable {
    border: 1px solid #3C3C3C;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    th, td {
        height: 60px;
        width: 80px;
    }
}

#add-subject-button {
    width: 60.00%;
}

#class-day, #class-start-time, #class-end-time,
#edit-day, #edit-start-time, #edit-end-time {
    width: 40.00%;
}

#download-timetable {
    width: 25%;
}

#subcard-col-left {
    text-align: start;
}

#subcard-col-right {
    text-align: end;
}

@media (max-width: 992px) {
    #add-subject-button {
        width: 40.00%;
        text-align: center;
    }
    #class-day, #class-start-time, #class-end-time,
    #edit-day, #edit-start-time, #edit-end-time {
        width: 100.00%;
    }
    #subcard-col-left,
    #subcard-col-right {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #download-timetable {
        width: 75%;
    }
}
