.welcome-body {
    background-color: #EAF2FD;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
}

.welcome-nav {
    text-align: end;
}

.welcome-title {
    font-size: 5rem;
}

.welcome-subtitle {
    font-size: 2.5rem;
}

.image-carousel {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-bottom: 70px;
}

.carousel-track {
    display: flex;
    width: calc(200%);
    animation: welcome-scroll 90s linear infinite;
    img {
        width: 16.66%;
        flex-shrink: 0;
        object-fit: cover;
    }
}

@keyframes welcome-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 1200px) {
    .welcome-title {
        font-size: 4rem;
    }
    .welcome-subtitle {
        font-size: 2.25rem;
    }
    .carousel-track img {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .welcome-title {
        font-size: 3rem;
    }
    .welcome-subtitle {
        font-size: 2rem;
    }
    .carousel-track img {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .carousel-track img {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .welcome-website-logo {
        width: 50%;
    }
    .welcome-nav {
        text-align: center;
    }
    .welcome-title {
        font-size: 2.5rem;
    }
    .welcome-subtitle {
        font-size: 1.5rem;
    }
    .carousel-track img {
        width: 75%;
    }
}

// Mobile-landscape-specific adjustments
@media (max-width: 768px) and (orientation: landscape) {
    .welcome-body {
        overflow-y: scroll;
        height: 100vh;
    }
}
